SUBNET_ID="1"
NETWORK="local" # "local" or "testnet" 
OLLAMA_LOCAL_URL="http://localhost:11434/api/chat"
GA_SERVICE_ACCOUNT="" #for Google Analytics
GOOGLE_APPLICATION_CREDENTIALS="" #for Google Analytics
OPENROUTER_API_KEY=""
CHATGPT_API_KEY=""
CHATGPT_MODEL=""
VLLM_API_KEY="token-xxxx"
VLLM_MODEL=""