bittensor==9.1.0
bittensor-cli==9.1.4

starlette==0.37.2
pydantic==2.10.4
pytest==8.3.4
torch==2.5.1
numpy==2.0.2
setuptools~=70.0.0
python-dotenv==1.0.1
openai==1.58.1
pandas==2.2.3
json-repair==0.33.0
jsonschema==4.23.0
loguru==0.7.3
wandb==0.19.1
tiktoken==0.8.0
slowapi==0.1.9


